@tailwind base;
@tailwind components;
@tailwind utilities;

.display {
  background-color: var(--bg-screen);
  color: var(--text-display);
  height: 5rem;
  font-weight: 700;
  font-size: 48px;
  border-radius: 0.35rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 1.5rem;
}

.display-inner {
  width: 100%;
  overflow-x: auto;
  text-align: right;
}

.keypad {
  background-color: var(--bg-toggle-keypad);
  font-size: var(--text-key-size);
  margin-top: 1rem;
  border-radius: 0.35rem;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.8rem;
}

.num,
.del,
.reset,
.eq {
  border-radius: 0.35rem;
  border-style: none;
  font-weight: 700;
  height: 3rem;
  font-size: 24px;
  width: 100%;
}

.num {
  color: var(--text-key);
  box-shadow: var(--bg-num-shadow) 0px 4px 0px 0px;
  background-color: var(--bg-num);
}

.num:hover {
  cursor: pointer;
  background-color: var(--bg--num--hover);
}

.del {
  background-color: var(--bg-key-del);
  box-shadow: var(--bg-key-del-shadow) 0px 4px 0px 0px;
  color: var(--text-rset);
  font-size: 24px;
}

.del:hover {
  cursor: pointer;
  background-color: var(--bg--del--hover);
}

.reset {
  background-color: var(--bg-key-del);
  box-shadow: var(--bg-key-del-shadow) 0px 4px 0px 0px;
  color: var(--text-rset);
  font-size: 24px;
  grid-column: span 2;
}

.reset:hover {
  cursor: pointer;
  background-color: var(--bg--reset--hover);
}

.eq {
  background-color: var(--bg-key-eq);
  box-shadow: var(--bg-key-eq-shadow) 0px 4px 0px 0px;
  color: var(--text-eq);
  font-size: 32px;
  grid-column: span 2;
}

.eq:hover {
  cursor: pointer;
  background-color: var(--bg--eq--hover);
}
.theme1 {
  --bg-main: hsl(222, 26%, 31%);
  --bg-toggle-keypad: hsl(223, 31%, 20%);
  --bg-screen: hsl(224, 36%, 15%);

  --bg-num: hsl(0, 0%, 90%);
  --bg-num-shadow: hsl(28, 16%, 65%);
  --text-key: hsl(221, 14%, 31%);

  --text-display: hsl(0, 0%, 100%);
  --text-eq: hsl(0, 0%, 100%);
  --text-rset: hsl(0, 0%, 100%);
  --text-key-size: 32px;
  --bg-key-eq: hsl(6, 63%, 50%);
  --bg-key-eq-shadow: hsl(6, 70%, 34%);
  --bg-key-del: hsl(225, 21%, 49%);
  --bg-key-del-shadow: hsl(224, 28%, 35%);

  --bg--eq--hover: #f96c5b;
  --bg--num--hover: white;
  --bg--reset--hover: #a2b3e1;
  --bg--del--hover: #a2b3e1;
}

.theme2 {
  --bg-main: hsl(0, 0%, 90%);
  --bg-toggle-keypad: hsl(0, 5%, 81%);
  --bg-screen: hsl(0, 0%, 93%);

  --bg-num: hsl(0, 0%, 90%);
  --bg-num-shadow: hsl(35, 11%, 61%);
  --text-key: hsl(60, 10%, 19%);

  --text-display: hsl(60, 10%, 19%);
  --text-eq: hsl(0, 0%, 100%);
  --text-rset: hsl(0, 0%, 100%);
  --text-key-size: 32px;
  --bg-key-eq: #c85401;
  --bg-key-eq-shadow: hsl(25, 99%, 27%);
  --bg-key-del: hsl(185, 42%, 37%);
  --bg-key-del-shadow: hsl(185, 58%, 25%);
  --bg--eq--hover: #ff8b38;
  --bg--num--hover: white;
  --bg--reset--hover: hsl(186, 41%, 53%);
  --bg--del--hover: hsl(186, 31%, 53%);
}

.theme3 {
  --bg-main: hsl(268, 75%, 9%);
  --bg-toggle-keypad: hsl(268, 71%, 12%);
  --bg-screen: hsl(268, 71%, 12%);

  --bg-num: hsl(268, 47%, 21%);
  --bg-num-shadow: hsl(290, 70%, 36%);
  --text-key: hsl(52, 100%, 62%);

  --text-display: hsl(52, 100%, 62%);
  --text-eq: hsl(60, 10%, 19%);
  --text-rset: hsl(0, 0%, 100%);
  --text-key-size: 32px;
  --bg-key-eq: hsl(176, 100%, 44%);
  --bg-key-eq-shadow: hsl(177, 92%, 70%);
  --bg-key-del: hsl(281, 89%, 26%);
  --bg-key-del-shadow: hsl(285, 91%, 52%);
  --bg--num--hover: #6b34ac;
  --bg--reset--hover: #8631b0;
  --bg--del--hover: #8731b0;
  --bg--eq--hover: #94fefa;
}

body {
  background-color: var(--bg-main);
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
  color: var(--text-display);
  font-size: 20px;
}
.calculator {
  width: 100%;
  max-width: 327px;
  margin: 0 auto;
  padding-top: 10vh;
}

.calc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2vh;
}
.radio {
  font-size: 15px;
}
.labels {
  display: flex;
  justify-content: end;
  gap: 1.5rem;
  padding-right: 0.55rem;
  border-radius: 50%;
}
.them {
  font-size: 10px;
  margin-top: 3%;
  margin-left: auto;
  text-align: right;
  margin-right: 5%;
}

.themes {
  display: flex;
  justify-content: end;
  gap: 0.4rem;
  border-radius: 7vh;
  background-color: var(--bg-toggle-keypad);
  margin-left: auto;
  width: fit-content;
  padding: 0.5vh 0.5vh;
}

input[type="radio"] {
  cursor: pointer;
  opacity: 0;
}

.themes input:checked {
  appearance: none;
  opacity: 1;
  height: 1.5em;
  width: 1.5em;
  border-radius: 50%;
  background-color: var(--bg-key-eq);
}
@media (min-width: 376px) and (max-width: 1439px) {
  .calculator {
    max-width: 400px;
  }
}

@media (min-width: 1440px) {
  .calculator {
    max-width: 540px;
  }
}

@media (max-width: 320px) {
  .calculator {
    max-width: 320px;
  }
}

@media (max-width: 640px) {
  .num,
  .del,
  .reset,
  .eq {
    font-size: 18px;
  }

  .display {
    font-size: 36px;
    height: 4rem;
  }
}
